*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .main_box{
    width:900px;
    height: 100px;
    border: 2px solid red;
    margin: 100px auto;
    background: linear-gradient (-50deg, green  50%, transparent  50%);
} */
 .main_box{
    width: 1000px;
    height: 100px;
    border:1px solid;
    margin: 50px auto;
    background: linear-gradient(-24deg, green 60%, transparent 40%);
 }
 .menu{
    float: right;
    margin-right: 18px;

 }
 .menu > li{
    display: inline-block;
    padding: 0 10px;
    color: #fff;
    line-height: 100px;
    margin: 0px 10px;

 }
 .menu > li > a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: 1s;
    }
.menu li:hover{
    margin-top: 10px;
}
.menu > li > a:hover {
    text-decoration: underline;
    color: black;
    background-color: gold;
    padding: 15px 20px;
    border-radius: 8px;
}
.ani{
    display: flex;
    justify-content: space-evenly;
}

.rect_1{
    width:0px;
    height: 150px;
    background-color: aqua;
    border-top: 150px solid yellow;
    border-bottom: 150px solid red;
    border-left: 150px solid salmon;
    border-right:150px solid green;
}
.rect_2{
    width:150px;
    height: 150px;
    background-color: aqua;
    border-top: 50px solid yellow;
    border-bottom: 50px solid red;
    border-left: 50px solid salmon;
    border-right:50px solid green;
}
.rect_3{
    width:300px;
    height: 190px;
    border:1px solid ;
    background:linear-gradient(-50deg,red 25%, yellow 0 50%, green 0 75%, salmon 0 100%);
}
.triangle{
    width:0px;
    height: 150px;
    /* background-color: aqua; */
    border-top: 100px solid transparent;
    border-bottom: 100px solid green;
    border-left: 100px solid transparent;
    border-right:100px solid transparent;
}

.clipping_path{
    width: 400px;
    height: 400px;
    margin:50px auto 100px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background:linear-gradient(red 25%, yellow 0 50%, green 0 75%, salmon 0 100%);
}
